<style>
:root{
    --gold:#A78642;
    --dark:#2D2D2D;
    --turquoise:#4E9AA4;
    --bg:#FEFEFE;
}
html{
    scroll-behavior:smooth;
}
/* HEADER */

.site-header{
    position:sticky;
    top:0;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 80px;

    background:rgba(254,254,254,.92);
    backdrop-filter:blur(10px);

    z-index:1000;

    border-bottom:1px solid rgba(0,0,0,.05);
}

.brand{
    display:flex;
    align-items:center;
    gap:12px;
}

.brand img{
    width:42px;
}

.brand span{
    font-size:1.2rem;
    font-weight:700;
    color:var(--dark);
}

.site-header nav{
    display:flex;
    align-items:center;
    gap:18px;
}

.site-header nav span{
    color:var(--gold);
    opacity:.6;
}

.site-header nav a{
    text-decoration:none;
    color:var(--dark);
    font-size:1rem;
    transition:.3s;
}

.site-header nav a:hover{
    color:var(--gold);
}
body{
    margin:0;
    background:#fefefe;
    font-family:'Heebo',sans-serif;
    color:#2d2d2d;
}
.logo{
    width:140px;
    display:block;
    margin:0 auto 25px;
}

.hero{
    min-height:80vh;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:50px;
    padding:20px 80px;
}

.hero > img{
    max-width:700px;
    filter:drop-shadow(0px 25px 35px rgba(0,0,0,.15));
}

.text{
    max-width:550px;
    text-align:center;
}

h1{
    font-size:4.2rem;
    font-weight:700;
    color:var(--dark);
    margin:0;
}

p{
    font-size:24px;
    line-height:1.6;
}

.button{
    display:block;
    width:fit-content;

    margin:-20px auto 0;

    padding:14px 32px;

    border:2px solid var(--gold);

    color:var(--gold);
    background:transparent;

    border-radius:999px;

    text-decoration:none;
    font-weight:600;

    transition:all .3s ease;
}

.button:hover{
    background:var(--gold);

    /* להשאיר את הכתב זהוב */
    color:var(--bg);

    transform:translateY(-2px);
}
.subtitle{
    max-width:420px;
    margin:30px auto;
    line-height:1.5;
    color:#5B6470;
}
.tagline{
    color:var(--gold);
    font-size:1.3rem;
    margin-top:20px;
    letter-spacing:1px;
}
.book-cover{
     transform:translateY(-40px);
    max-width:750px;
    width:50vw;
    filter:drop-shadow(0 30px 40px rgba(0,0,0,.15));
}
.books{
    padding:120px 80px;
}

.books h2{
    text-align:center;
    font-size:3rem;
    color:var(--dark);
}

.section-intro{
    text-align:center;
    color:#777;
    margin-bottom:60px;
}

.books-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:50px;
}

.book-card{
    text-align:center;
}

.book-card img{
    width:100%;
    max-width:260px;
    transition:.3s;
}

.book-card img:hover{
    transform:translateY(-8px);
}

.book-card h3{
    margin-top:20px;
}
</style>
